In [63]:
import yfinance as yf
import pandas as pd

In [64]:
xlv = yf.Ticker('XLV')
xlv_hist = xlv.history(period = 'max', actions = True)

In [65]:
xlv_hist = xlv_hist.iloc[::-1]

In [66]:
xlv_hist

              Open    High     Low   Close   Volume  Dividends  Stock Splits
Date
2020-01-03  100.95  101.82  100.45  101.64  3663398      0.000             0
2020-01-02  102.17  102.29  101.40  102.13  6277400      0.000             0
2019-12-31  101.44  101.95  101.27  101.86  4746700      0.000             0
2019-12-30  102.27  102.49  101.51  101.66  5665100      0.666             0
2019-12-27  102.46  102.47  102.05  102.27  3605000      0.000             0
...            ...     ...     ...     ...      ...        ...           ...
1998-12-29   18.83   19.25   18.83   19.25     5300      0.000             0
1998-12-28   19.05   19.11   18.83   18.83    15500      0.000             0
1998-12-24   19.02   19.11   18.94   19.11     4900      0.000             0
1998-12-23   18.69   18.99   18.69   18.99    18100      0.000             0
1998-12-22   18.41   18.60   18.41   18.58     5700      0.000             0

[5292 rows x 7 columns]